* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background: #ffddcc;
}

img {
    max-width: 100%;
}

h1 h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.navbar {
    background: #ffeee6;
    height: 60px;
    color: #000;
}

ul {

    list-style-type: none;  
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    font-size: 36px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #66ffff;
}

.header {
    background: #ffbb99;
    min-height: 400px;
    color: #000;
    border-radius: 10px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px 0;
}

.header img {
    max-width: 400px;
    margin:50% 0%;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: #ffbb99;
    color: #000;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
}

.boxes .container {
    display: block;
    text-align: center;
}